@model WebOnline.Models.sanPham

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>sanPham</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.loaiSP.loaiHang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.loaiSP.loaiHang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.taiKhoanTV.matKhau)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.taiKhoanTV.matKhau)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tenSP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tenSP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hinhDD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hinhDD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ndTomTat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ndTomTat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ngayDang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ngayDang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.noiDung)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.noiDung)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.daDuyet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.daDuyet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.giaBan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.giaBan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.giamGia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.giamGia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nhaSanXuat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nhaSanXuat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dvt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dvt)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.maSP }) |
    @Html.ActionLink("Back to List", "Index")
</p>
